/* bigger computers screens */
@media screen and (min-width: 1025px) {
    .Footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 3px solid #87CEEB;
        background-color: #36454F;
        color: #ebd7ff;
        display: flex;
        flex-direction: column;
        margin: 0.7rem;
        padding: 0.7rem;
        text-align: center;
        box-shadow: -5px 11px 0px rgba(0, 0, 0, 1);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-weight: bold;
        font-size: 1rem;
    }
}

/* small computers */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 3px solid #87CEEB;
        background-color: #36454F;
        color: #ebd7ff;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        text-align: center;
        box-shadow: -5px 7px 0px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-weight: bold;
        font-size: 15px;
    }
}

/* tablets */
@media screen and (min-width: 501px) and (max-width: 768px) {
    .Footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 3px solid #87CEEB;
        background-color: #36454F;
        color: #ebd7ff;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        text-align: center;
        box-shadow: -5px 7px 0px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-weight: bold;
        font-size: 15px;
    }
}

/* mobile  */
@media screen and (max-width: 500px) {
    .Footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 3px solid #87CEEB;
        background-color: #36454F;
        color: #ebd7ff;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px 25px;
        text-align: center;
        box-shadow: -5px 7px 0px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-weight: bold;
        font-size: 15px;
    }
}