/* bigger computers screens */
@media screen and (min-width: 1025px) {
    .HomeContent {
        display: flex;
        flex-direction: column;
        min-height: 100px;
        max-height: fit-content;
    }

    .Home {
        border: 2px solid #87CEEB;
        background-color: #36454F;
        color: #ebd7ff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 300px;
        padding: 20px 20px 400px 20px;
        box-shadow: -5px 11px 0px rgba(0, 0, 0, 1);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-weight: bold;
    }

    .Home h1 {
        font-size: 50px;
    }

    .Home p {
        font-size: 20px;
        width: 80%;
        text-align: center;
    }

    .Home .CTA {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
        margin-top: 3rem;
    }

    .CTA-sections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .CTA-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 200px;
        font-size: 20px;
        background-color: #36454F;
        color: #ebd7ff;
        border: 2px solid #87CEEB;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: -3px 4px 0px rgba(0, 0, 0, 1);
        text-align: center;
        text-decoration: none;
    }
}

/* small computers */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .HomeContent {
        display: flex;
        flex-direction: column;
        min-height: 100px;
        max-height: fit-content;
        margin: 10px;
    }

    .Home {
        border: 2px solid #87CEEB;
        background-color: #36454F;
        color: #ebd7ff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 300px;
        padding: 20px 20px 400px 20px;
        box-shadow: -5px 7px 0px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-weight: bold;
    }

    .Home h1 {
        font-size: 70px;
    }

    .Home p {
        font-size: 25px;
        width: 80%;
        text-align: center;
    }

    .CTA-sections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .CTA-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 200px;
        font-size: 20px;
        background-color: #36454F;
        color: #ebd7ff;
        border: 2px solid #87CEEB;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: -3px 4px 0px rgba(0, 0, 0, 1);
        text-align: center;
        text-decoration: none;
    }
}

/* tablets */
@media screen and (min-width: 501px) and (max-width: 768px) {
    .HomeContent {
        display: flex;
        flex-direction: column;
        min-height: 100px;
        max-height: fit-content;
        margin: 10px;
    }

    .Home {
        border: 2px solid #87CEEB;
        background-color: #36454F;
        color: #ebd7ff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 300px;
        padding: 20px 20px 400px 20px;
        box-shadow: -5px 7px 0px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-weight: bold;
    }

    .Home h1 {
        font-size: 40px;
        text-align: center;
    }

    .Home p {
        font-size: 15px;
        width: 95%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .CTA-sections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .CTA-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 200px;
        font-size: 20px;
        background-color: #36454F;
        color: #ebd7ff;
        border: 2px solid #87CEEB;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: -3px 4px 0px rgba(0, 0, 0, 1);
        text-align: center;
        text-decoration: none;
    }
}

/* mobile  */
@media screen and (max-width: 500px) {
    .HomeContent {
        display: flex;
        flex-direction: column;
        min-height: 100px;
        max-height: fit-content;
        margin: 10px;
    }

    .Home {
        border: 2px solid #87CEEB;
        background-color: #36454F;
        color: #ebd7ff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 300px;
        padding: 20px 20px;
        box-shadow: -5px 7px 0px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-weight: bold;
    }

    .Home h1 {
        font-size: 25px;
    }

    .Home p {
        font-size: 15px;
        width: 80%;
    }

    .CTA-sections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .CTA-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 200px;
        font-size: 20px;
        background-color: #36454F;
        color: #ebd7ff;
        border: 2px solid #87CEEB;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: -3px 4px 0px rgba(0, 0, 0, 1);
        text-align: center;
        text-decoration: none;
    }
}