/* mobile  */
@media screen and (max-width: 500px)  {
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .Container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        max-height: fit-content;
        width: 99vw;
        margin: 10px;
    }

    .SectionHeader {
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0;
        text-align: center;
    }

    .SectionCert {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

/* tablets ❌*/
@media screen and (min-width: 501px) and (max-width: 768px)  {
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .Container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        max-height: fit-content;
        margin: 10px;
        width: 100%;
    }

    .SectionHeader {
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0;
        text-align: center;
    }

    .SectionContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

/* small computers ❌*/
@media screen and (min-width: 769px) and (max-width: 1024px)  {
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .Container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        max-height: fit-content;
        margin: 10px;
        min-width: 70%;
        max-width: 1200px;
    }

    .SectionHeader {
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0;
        text-align: center;
    }

    .SectionContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

/* bigger computers screens */
@media screen and (min-width: 1025px)  {
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .Container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        max-height: fit-content;
        margin: 10px;
        min-width: 70%;
        max-width: 1200px;
    }

    .SectionHeader {
        font-size: 1.7rem;
        font-weight: bold;
        margin: 20px 0;
        text-align: center;
    }

    .SectionContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}