/* bigger computers screens */
@media screen and (min-width: 1025px) {
    .XPCardsTitle {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #ebd7ff;
        margin: 30px 0;
    }

    .XPCards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        max-height: fit-content;
    }

    .JobCard {
        display: flex;
        flex: 1 1 calc(20% - 10px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #87CEEB;
        background-color: #36454F;
        color: #ebd7ff;
        max-width: 255px;
        min-height: 80px;
        min-width: 236px;
        padding: 15px 10px 10px 10px;
        margin: 15px;
        box-shadow: -5px 11px 0px rgba(0, 0, 0, 1);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .JobCard-1 img {
        width: 154px;
    }

    .JobCard-2 img {
        width: 186px;
    }

    .JobCard-3 img {
        width: 63px;
    }

    .JobCard-4 img {
        width: 200px;
        margin-top: 6px;
    }

    .JobCard-5 img {
        width: 150px;
    }

    .JobCard-6 img {
        width: 130px;
    }

    .JobCard-7 img {
        width: 220px;
        margin: 19px 0 10px 0;
    }

    .JobCard-8 img {
        width: 80px;
    }

    .description {
        text-align: center;
        width: 90%;
    }

    .company {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .duties {
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
        float: left;
    }
}

/* small computers ❌*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .XPCardsTitle {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: rgb(0, 0, 0);
        margin: 30px 0;
    }

    .XPCards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        max-height: fit-content;
    }

    .JobCard {
        display: flex;
        flex: 1 1 calc(20% - 10px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(77, 42, 42);
        background-color: rgb(163, 89, 89);
        color: black;
        max-width: 255px;
        min-height: 80px;
        min-width: 236px;
        padding: 15px 10px 10px 10px;
        margin: 15px;
        box-shadow: -5px 7px 0px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .JobCard-1 img {
        width: 154px;
    }

    .JobCard-2 img {
        width: 186px;
    }

    .JobCard-3 img {
        width: 63px;
    }

    .JobCard-4 img {
        width: 200px;
        margin-top: 6px;
    }

    .JobCard-5 img {
        width: 150px;
    }

    .JobCard-6 img {
        width: 130px;
    }

    .JobCard-7 img {
        width: 220px;
        margin: 19px 0 10px 0;
    }

    .JobCard-8 img {
        width: 80px;
    }

    .description {
        text-align: center;
        width: 90%;
    }

    .company {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .duties {
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
        float: left;
    }
}

/* tablets ❌*/
@media screen and (min-width: 501px) and (max-width: 768px) {
    .XPCardsTitle {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: rgb(0, 0, 0);
        margin: 30px 0;
    }

    .XPCards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        max-height: fit-content;
    }

    .JobCard {
        display: flex;
        flex: 1 1 calc(20% - 10px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(77, 42, 42);
        background-color: rgb(163, 89, 89);
        color: black;
        max-width: 255px;
        min-height: 80px;
        min-width: 236px;
        padding: 15px 10px 10px 10px;
        margin: 15px;
        box-shadow: -5px 7px 0px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .JobCard-1 img {
        width: 154px;
    }

    .JobCard-2 img {
        width: 186px;
    }

    .JobCard-3 img {
        width: 63px;
    }

    .JobCard-4 img {
        width: 200px;
        margin-top: 6px;
    }

    .JobCard-5 img {
        width: 150px;
    }

    .JobCard-6 img {
        width: 130px;
    }

    .JobCard-7 img {
        width: 220px;
        margin: 19px 0 10px 0;
    }

    .JobCard-8 img {
        width: 80px;
    }

    .description {
        text-align: center;
        width: 90%;
    }

    .company {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .duties {
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
        float: left;
    }
}

/* mobile  */
@media screen and (max-width: 500px) {
    .XPCardsTitle {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: rgb(0, 0, 0);
        margin: 30px 0;
    }

    .XPCards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        max-height: fit-content;
    }

    .JobCard {
        display: flex;
        flex: 1 1 calc(20% - 10px);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 2px solid rgb(77, 42, 42);
        background-color: rgb(163, 89, 89);
        color: black;
        max-width: 255px;
        min-height: 80px;
        min-width: 236px;
        max-height: 260px;
        padding: 15px 10px 10px 10px;
        margin: 15px;
        box-shadow: -5px 7px 0px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        overflow: scroll;
    }

    .JobCard-1 img {
        width: 154px;
    }

    .JobCard-2 img {
        width: 186px;
    }

    .JobCard-3 img {
        width: 63px;
    }

    .JobCard-4 img {
        width: 200px;
        margin-top: 6px;
    }

    .JobCard-5 img {
        width: 150px;
    }

    .JobCard-6 img {
        width: 130px;
    }

    .JobCard-7 img {
        width: 220px;
        margin: 19px 0 10px 0;
    }

    .JobCard-8 img {
        width: 80px;
    }

    .company {
        border-top: 2px solid rgb(0, 0, 0);
        padding-top: 10px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .duties {
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
        float: left;
    }
}