#root {
    display: flex;
    flex-direction: column;
    height: max-content, 100vh;
    background-color: rgb(163, 89, 89);
    color: antiquewhite;
}

.App {
    border: 2px solid red;
    height: 100vh;
}