#root {
    display: flex;
    flex-direction: column;
    height: max-content, 100vh;
    background-color: rgb(202, 202, 202);
    margin: -10px;
    display: flex;
    align-items: center;
    width: max-content, 100vw;
}
